*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Spline Sans', sans-serif;

}

.marginprod{
    border: 1px solid aqua;
    margin: 0 5vw;
}